/* configuração global do css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilizando a parte do hearde que é o cabeçalho e a parte da nav */

.header {
  background-color: black;
  width: 100%;
  padding: 0 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img_menu {
  width: 80px;
  height: 80px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 0 5px;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  transition: transform 0.3s ease;
  display: inline-block;
}

.menu a:hover {
  color: red;
  transform: translateY(-2px);
}

/* Estilizando a parte do main, parte principal da página */

.main {
  background-image: url("../assets/img/treinando3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.article_Main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.info h1 {
  font-family: "Roboto Slab", serif;
  color: white;
  margin: 10px;
  font-size: 80px;
}

.info h1 span {
  color: red;
}

.info h3 {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

/* estilizando a parte dos botões da main, da parte principal */

.buttonPri {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  padding: 15px 20px;
  margin: 0 12px;
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 5px;
  transition: transform 0.5s ease;
}

.buttonPri:hover {
  background-color: rgb(175, 1, 1);
  border: 1px solid rgb(175, 1, 1);
  transform: scale(1.1);
}

.buttonSegun {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  padding: 15px 20px;
  background: transparent;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  transition: transform 0.5s ease;
}

.buttonSegun:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

/* estilizando a parte sobre o DogyBox */

.sobre_Dogy_Box {
  background-color: whitesmoke;
}

.article_Sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.div_Sobre {
  width: 75%;
}

.div_Sobre h2 {
  font-family: "Roboto Slab", serif;
  color: red;
  margin-bottom: 10px;
  font-size: 40px;
}

.div_Sobre p {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  letter-spacing: 2px;
}

.div_Sobre_Dois {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
  padding-top: 30px;
}

.article_TreinosP,
.article_Comunidade,
.article_Resultado,
.article_Energia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  height: 250px;
  background-color: white;
  box-shadow: 0 8px 25px black;
  transition: transform 0.3s ease;
}

.article_TreinosP,
.article_Comunidade,
.article_Resultado,
.article_Energia h3 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  margin: 5px;
}

.article_TreinosP,
.article_Comunidade,
.article_Resultado,
.article_Energia p {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
}

.article_TreinosP:hover,
.article_Comunidade:hover,
.article_Resultado:hover,
.article_Energia:hover {
  transform: translateY(-10px);
}

.divImg {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: red;
  border: 1px solid red;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.divImg img {
  width: 30px;
  height: 30px;
}

/* Estilizando a section section_Treino, terceira parte da página */

.section_Treino {
  background-color: #fff;
}

.article_Treino {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.div_Treinos {
  display: flex;
  flex-direction: column;
}

.metodologia {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  color: red;
}

.variedade {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  margin-top: 20px;
}

.div_Treino_Dois {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.div_Wod {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  border: 1px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  width: 340px;
  height: 300px;
  margin-top: 50px;
}

.div_Wod::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/img/pe-na-barra.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.5s ease;
  z-index: 0;
}

.div_Wod:hover::before {
  transform: scale(1.1);
}

.div_Condicionamento {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  border: 1px solid #fff;
  border-radius: 20px;
  width: 340px;
  height: 300px;
  margin-top: 50px;

  overflow: hidden;
}

.div_Condicionamento::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/img/alongamento.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  transition: transform 0.5s ease;
}

.div_Condicionamento:hover::before {
  transform: scale(1.1);
}

.div_Hit {
  border: 1px solid #fff;
  border-radius: 20px;
  background-image: url("../assets/img/alon-coach.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 340px;
  height: 300px;
  margin-top: 50px;
}

.quarenta_min {
  text-align: center;
  background-color: red;
  margin-top: auto;
  border: 1px solid red;
  border-radius: 5px;
  width: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
  z-index: 2;
}

.quarenta_min P {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  z-index: 2;
}

.p_Wod,
.p_Foco {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 10px;
  z-index: 2;
}

.p_wod_Treino,
.p_Foco_Condi {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 20px;
  z-index: 2;
}

/* Configuração da entrada e saida das divs, quando entra na página */

/* Esquerda */
.show-on-scroll {
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.show-on-scroll.active {
  opacity: 1;
  transform: translateX(0);
}

/* Cima */
.show-on-scroll-cima {
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.show-on-scroll-cima.entrou {
  opacity: 1;
  transform: translateY(0);
}

/* Baixo */
.show-on-scroll-baixo {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.show-on-scroll-baixo.entrou {
  opacity: 1;
  transform: translateY(0);
}
