/* configuração global do css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Estilizando e configurando a parte de carregar toda a página e aparecer ele 100% */

.carregando {
  position: fixed;
  inset: 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.img_Carregando img {
  width: 130px;
  height: 130px;
}

.escondido {
  display: none;
}

/* Menu mobile */

.mobile {
  display: none;
  flex-direction: column;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.img_Menu_Mobile {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

.aberto {
  width: 20px;
  height: 20px;
  border-radius: 1px solid black;
}

.fechado {
  width: 20px;
  height: 20px;
  border-radius: 1px solid black;
}

.container_Mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 100vh;
}

.menu_mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-decoration: none;
}

.menu_mobile a {
  text-decoration: none;
  color: white;
  padding: 0 5px;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  transition: transform 0.3s ease;
  display: inline-block;
}

.menu_mobile a:hover {
  color: red;
  transform: translateY(-2px);
}

.button_Menu_Agendar {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  padding: 15px 20px;
  margin: 0 12px;
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 5px;
  transition: transform 0.5s ease;
  margin-top: 20px;
}

.button_Menu_Agendar:hover {
  background-color: rgb(175, 1, 1);
  border: 1px solid rgb(175, 1, 1);
  transform: scale(1.1);
}

/* Estilizando a parte do hearde que é o cabeçalho e a parte da nav */

.header {
  background-color: black;
  width: 100%;
  padding: 0 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img_menu {
  width: 80px;
  height: 80px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 0 5px;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  transition: transform 0.3s ease;
  display: inline-block;
}

.menu a:hover {
  color: red;
  transform: translateY(-2px);
}

/* Estilizando a parte do main, parte principal da página */

.header_Figure_Img {
  position: relative;
  overflow: hidden;
}

.header_Figure_Img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.article_Main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.info h1 {
  font-family: "Roboto Slab", serif;
  color: white;
  margin: 10px;
  font-size: 80px;
}

.info h1 span {
  color: red;
}

.info h3 {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 2px;
  padding: 0 15px;
}

/* estilizando a parte dos botões da main, da parte principal */

.buttonPri {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  padding: 15px 20px;
  margin: 0 12px;
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 5px;
  transition: transform 0.5s ease;
}

.buttonPri:hover {
  background-color: rgb(175, 1, 1);
  border: 1px solid rgb(175, 1, 1);
  transform: scale(1.1);
}

.buttonSegun {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  padding: 15px 20px;
  background: transparent;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  transition: transform 0.5s ease;
}

.buttonSegun:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

/* estilizando a parte sobre o DogyBox */

.sobre_Dogy_Box {
  background-color: whitesmoke;
}

.article_Sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.div_Sobre {
  width: 75%;
}

.div_Sobre h2 {
  font-family: "Roboto Slab", serif;
  color: red;
  margin-bottom: 10px;
  font-size: 40px;
}

.div_Sobre p {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  letter-spacing: 2px;
}

/* estilizando na segunda parte da página os itens treinosP, comunidade e etc... */

.div_Sobre_Dois {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 20px 10px;
}

.article_TreinosP,
.article_Comunidade,
.article_Resultado,
.article_Energia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  height: 250px;
  background-color: white;
  box-shadow: 0 8px 25px black;
  transition: transform 0.3s ease;
}

.article_TreinosP h3,
.article_Comunidade h3,
.article_Resultado h3,
.article_Energia h3 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  margin: 5px;
}

.article_TreinosP,
.article_Comunidade,
.article_Resultado,
.article_Energia p {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
}

.article_TreinosP:hover,
.article_Comunidade:hover,
.article_Resultado:hover,
.article_Energia:hover {
  transform: translateY(-10px);
}

.divImg {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: red;
  border: 1px solid red;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.divImg img {
  width: 30px;
  height: 30px;
}

/* Estilizando a section section_Treino, terceira parte da página */

.section_Treino {
  background-color: #fff;
}

.article_Treino {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 10px;
}

.div_Treinos {
  display: flex;
  flex-direction: column;
}

.metodologia {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  color: red;
}

.variedade {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  margin-top: 20px;
}

/* Estilizando na parte de três, os itens do display grid, do wod, condicionamente e amrap  */

.div_Treino_Dois {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.div_Wod {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  border: 1px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  width: 340px;
  min-height: 300px;
  margin-top: 50px;
}

.div_Wod::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/img/pe-na-barra.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.5s ease;
  z-index: 0;
}

.div_Wod:hover::before {
  transform: scale(1.1);
}

.div_Condicionamento {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  border: 1px solid #fff;
  border-radius: 20px;
  width: 340px;
  min-height: 300px;
  margin-top: 50px;

  overflow: hidden;
}

.div_Condicionamento::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/img/alongamento.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  transition: transform 0.5s ease;
}

.div_Condicionamento:hover::before {
  transform: scale(1.1);
}

.div_Hit {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  border: 1px solid #fff;
  border-radius: 20px;
  width: 340px;
  min-height: 300px;
  margin-top: 50px;
}
.div_Hit::before {
  position: absolute;
  content: "";
  inset: 0;
  background-image: url("../assets/img/alon-coach.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  transition: transform 0.5s ease;
}

.div_Hit:hover::before {
  transform: scale(1.1);
}

.quarenta_min {
  text-align: center;
  background-color: red;
  margin-top: auto;
  border: 1px solid red;
  border-radius: 5px;
  width: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
  z-index: 2;
}

.quarenta_min P {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  z-index: 2;
}

.p_Wod,
.p_Foco,
.amrap {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 10px;
  z-index: 2;
}

.p_wod_Treino,
.p_Foco_Condi,
.p_Amrap {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 20px;
  z-index: 2;
}

/* Estilizando a parte quatro da página  */

.section_Horarios {
  background-image: url("../assets/img/Fundo_Horarios.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.article_Horarios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

/* Estilizando a parte de info, calendário */

.calendario {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 20px;
  overflow: hidden;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 0, 0, 0.205);
  margin-top: 20px;
  margin-bottom: 10px;
}

.calendario img {
  width: 50px;
  height: 50px;
}

.info_Horarios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.h2_Horarios {
  color: red;
  font-family: "Roboto Slab", serif;
  font-size: 50px;
}

.h3_Horarios {
  color: #898989;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}

.id_Seg_Sab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #4a4a4ac9;
  place-items: center;
  width: 100%;
  max-width: 600px;
  height: 80px;
  border: 1px solid #4a4a4ac9;
  border-radius: 20px;
  margin-top: 10px;
}

.seg_Sex,
.sab {
  display: flex;
  width: 120px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  color: white;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid red;
  border-radius: 10px;
  background-color: red;
  transition: transform 0.25s ease;
}

.seg_Sex:hover,
.sab:hover {
  transform: scale(1.08);
}

/* estilizando as tabelas de horários */

.tabela_Horarios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  gap: 10px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
  padding: 0 10px 10px;
}

.tabela_Horarios_Sab {
  display: none;
  grid-template-rows: 1fr;
  gap: 10px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
  padding: 0 10px 10px;
}

.display {
  display: grid;
}

.display_none {
  display: none;
}

.clicou {
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.seis,
.sete,
.oito,
.nove,
.onze,
.dezessete,
.dezoito,
.dezenove,
.vinte,
.vinte_E_Um {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #4a4a4ac9;
  border: 1px solid #4a4a4ac9;
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 10px;
}

.info_Seis,
.info_Sete,
.info_Oito,
.info_Nove,
.info_Onze,
.info_Dezessete,
.info_Dezoito,
.info_Dezenove,
.info_Vinte,
.info_Vinte_E_Um {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.img_relogio {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.205);
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin-right: 15px;
}

.img_relogio img {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.horario_seis,
.horario_Sete,
.horario_Oito,
.horario_Nove,
.horario_Onze,
.horario_Dezessete,
.horario_Dezoito,
.horario_Dezenove,
.horario_Vinte,
.horario_Vinte_E_Um {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: white;
}

.bt_Agende {
  border: 1px solid red;
  border-radius: 20px;
  background-color: red;
  color: white;
  width: 120px;
  height: 50px;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  cursor: pointer;
}

/* Estilizando a quinta parte da página */

.section_Contato {
  background-color: white;
}

.article_Contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-height: 50vh;
  margin: 0 auto;
  padding: 0 10px;
}

.div_Contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.div_Contato h2 {
  color: red;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  padding-bottom: 15px;
}

.div_Contato h3 {
  color: #898989;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}

.div_ETH {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.endereco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  height: 200px;
  background-color: #d3d3d386;
  overflow: hidden;
}
.endereco h3 {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  margin: 5px;
  color: #000;
}

.endereco h4 {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  margin: 5px;
  color: #000;
}

.figure_Img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  background-color: red;
}

.figure_Img img {
  width: 30px;
  height: 30px;
}

.div_Agendar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: 1px solid red;
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
  min-height: 150px;
  background-color: red;
  margin-bottom: 20px;
  padding: 0 10px 10px;
  overflow: hidden;
}

.div_Agendar h3 {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  margin: 5px;
  color: #fff;
}

.div_Agendar h4 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  margin-top: 8px;
  color: #000;
}

.button_Agendar {
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #000;
  color: white;
  width: 200px;
  height: 50px;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

/* Estilizando o footer, última parte da página  */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  height: 200px;
}

.div_Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
}

.links_Rapidos {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.links_Rapidos p {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  padding-top: 5px;
  color: #fff;
}

.links_Rapidos a {
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  padding-top: 5px;
  color: white;
}

.links_Rapidos a:hover {
  color: red;
}
.figure_Img_Links img {
  width: 100px;
  height: 100px;
}

.listra {
  border: 1px solid red;
  margin-top: 15px;
}

.direitos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.direitos p {
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
}

/* Configuração da entrada e saida das divs, quando entra na página */

/* Esquerda */
.show-on-scroll {
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.show-on-scroll.active {
  opacity: 1;
  transform: translateX(0);
}

/* Cima */
.show-on-scroll-cima {
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.show-on-scroll-cima.entrou {
  opacity: 1;
  transform: translateY(0);
}

/* Baixo */
.show-on-scroll-baixo {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.show-on-scroll-baixo.entrou {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1067px) {
  .div_Sobre_Dois {
    grid-template-columns: repeat(2, 1fr);
  }

  .article_Sobre {
    padding-bottom: 20px;
  }

  /* terceira parte da página */

  .div_Treino_Dois {
    grid-template-columns: 1fr;
    padding-bottom: 15px;
    gap: 0px;
  }

  /* quinta parte da página */

  .div_ETH {
    grid-template-columns: 1fr;
  }

  .div_Agendar {
    width: 80%;
  }

  .button_Agendar {
    margin-bottom: 5px;
  }
}

@media (max-width: 823px) {
  /* Menu */
  .container {
    justify-content: space-between;
    align-items: center;
  }
  .menu a {
    display: none;
  }

  .img_Menu_Mobile {
    display: flex;
  }

  /* segunda parte  */

  .div_Sobre_Dois {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 620px) {
  /* Primeira parte */

  .info h1 {
    font-size: 40px;
  }

  .info h3 {
    font-size: 15px;
  }
  .divButton {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    margin-bottom: 10px;
  }

  .buttonPri {
    margin: auto;
  }

  .buttonPri:hover {
    transform: none;
  }

  .buttonSegun:hover {
    transform: none;
  }

  /* Quarta Parte */
  .div_Agendar h3 {
    font-size: 15px;
  }

  .div_Agendar h4 {
    font-size: 12px;
  }

  .button_Agendar {
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .div_Agendar h3 {
    font-size: 10px;
  }

  .div_Agendar h4 {
    font-size: 10px;
  }
}
